<div class="IntroductionMainTitle">
	<p>Members Information</p>
</div>
<div class="introductionMainDiv">
	<div class="member">
		<img src="assets/images/member3.jpg" class="img-thumbnail">
		<p class="MemberTitle"><b>Full name:</b></p>
		<p>Nguyễn Duy Toàn</p>
	
		<p class="MemberTitle"><b>Description:</b></p>
		<p>Sinh viên 5 tốt</p>
	</div>
	<div class="member">
		<img src="assets/images/member1.jpg" class="img-thumbnail">
		<p class="MemberTitle"><b>Full name:</b></p>
		<p>
			Nguyễn Tấn Nhựt
		</p>

		<p class="MemberTitle"><b>Description:</b></p>
		<p>Sinh viên 5 tốt</p>
	</div>
	<div class="member">
		<img src="assets/images/member4.jpg" class="img-thumbnail">
		<p class="MemberTitle"><b>Full name:</b></p>
		<p>Hồ Trọng Nhân</p>
		
		<p class="MemberTitle"><b>Description:</b></p>
		<p>Sinh viên 5 tốt</p>
	</div>
	<div class="member">
		<img src="assets/images/member2.jpg" class="img-thumbnail">
		<p class="MemberTitle"><b>Full name:</b></p>
		<p>Nguyễn Linh Yến</p>

		<p class="MemberTitle"><b>Description:</b></p>
		<p>Sinh viên 5 tốt</p>
	</div>
	<div style="clear: both;"></div>

</div>
<div class="phanCong">
	<p class="taskTitle">
		Tasks
	</p>
		<table class="table table-bordered">
		<thead>
			<th>Member</th>
			<th>Task</th>
			<th>Progress</th>
		</thead>
		<tbody>
			<tr>
				<td>Nguyễn Tấn Nhựt</td>
				<td>Build and Code project</td>
<td rowspan="4">100%</td>
			</tr>
			<tr>
				<td>Hồ Trọng Nhân</td>
				<td rowspan="3">Provide idea</td>
			</tr>
			<tr>
				<td>Nguyễn Duy Toàn</td>
				
			</tr>
			<tr>
				<td>Nguyễn Linh Yến</td>
				
			</tr>
		</tbody>
	</table>
</div>