<div class="loginPageBody" >
	
<div class="login-page">
  <div class="form">
  <p style="font-size: 26px;">Đăng nhập</p>
    <form class="login-form">
      <!-- <p *ngIf="!staticUrlArray()" [style.color]="red">Tài khoản không tồn tại</p> -->
      <p class="loginFailMessage">{{loginFailMessage}}</p>
<input type="text" 
placeholder="Tên đăng nhập" 
name="username" 
[(ngModel)]="_user.username" 


><br>

				<input type="password" placeholder="Mật khẩu" name="password" required [(ngModel)]="_user.password" ><br>
  
				<input type="submit" value="Đăng nhập" (click)="login()"  [style.background-color]="
        canLogin==false?'red':'#f2f2f2'">
      <p class="message">Not registered? <a href="#" [routerLink]="['/signUp']">Create an account</a></p>
    </form>
  </div>
</div>
</div>


