<div class="mainContent">
<search-field></search-field>
<div style="width: 1200px;margin: 0 auto;">
		<div id="fb-root"></div>
<div class="fb-like" data-href="https://www.facebook.com/Thu%C3%AA-s%C3%A1ch-online-254588228771823/?modal=admin_todo_tour" data-width="100" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
</div>
<div class="banner1">
	
	<img src="assets/images/banner1.jpg" >
</div>
<book-carousel1></book-carousel1>
<!-- /<book-type-list-menu></book-type-list-menu> -->
<web-info-logo></web-info-logo>

<div class="banner2">
	
	<img src="assets/images/banner2.png" >
</div>
<book-slider></book-slider>
</div>