
<div class="BookInfoLogo">

	<div class="BookInfo">
		<img src="assets/images/bookLogo.jpg" style="width: 100px;height: 100px;">
		<p class="IconTitle"><b>News</b></p>
		<p class="logoContent">You will be informed when there's new book published</p>
	</div>
	<div class="BookInfo">
		<img src="assets/images/bookLogo2.jpg" style="width: 100px;height: 100px;">
		<p class="IconTitle"><b>Books</b></p>
		<p class="logoContent">Learn more,read more,and have enjoyable time</p>
	</div>
	<div class="BookInfo">
		<img src="assets/images/bookLogo3.jpg" style="width: 100px;height: 100px;">
		<p class="IconTitle"><b>Variety book type</b></p>
		<p class="logoContent">Learn more,read more,and have enjoyable time with tons of type of book</p>
	</div>




</div>