.mainSlide{
	display: inline-block;
		
}
.bookSlideBlock{
	margin-bottom: 15px;
}
.bookSlideTitle{
		border-bottom: 4px solid black;
		margin-bottom: 15px;
}
.mainDivSlide{

	width: 1200px;
	margin: 0 auto;
	 margin-top: 50px;
}
.bookDiv{
	padding: 20px;
	
	width: 300px;
	height: 350px;
	float: left;

color: #545454;

text-align: center;
border: 1px solid #e8e8e8;
}
.bookDiv img{
	width: 170px;
	height: 220px;
border: 1px solid #8c8c8c;
}
.bookDiv img:hover {
	opacity: 0.8;
}
.bookDiv p {
	margin: 0;
}
/*.bookDiv:not(:nth-child(4n)){
	margin-right: 15px;
	
}*/
