*{
	margin: 0;
}
.footer-body{
	width: 100%;
	height: 400px;

background-color: black;

}
.footer-content{

	width: 1200px;
margin:  0 auto;	
	height: 200px;
}
.footer-content .content{
	width: 400px;
	height: 200px;
	float: left;
	padding: 10px;
	text-align: center;
	}
	.footer-content .content p{
		color: white;
	}