<div class="footer-body">
	<div class="footer-content">
			<div class="content">
				<p>Thành viên nhóm:</p>
			<p>Nguyễn Tấn Nhựt</p>
			<p>Nguyễn Duy Toàn</p>
			<p>Nguyễn Linh Yến</p>
			<p>Hồ Trọng Nhân</p>
		</div>
		<div class="content">
			<p><b>Về đồ án môn học</b></p>
			<p>Đây là đồ án về trang web thuê và mua sách đọc online phục vụ cho việc làm đề tài cuối kỳ thương mại điện tử</p>
		
		</div>
		<div class="content" style="text-align: center;">
			<p>Địa chỉ liên hệ</p>
			<div style="height: 300px;width: 300px;">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2480891150917!2d106.78647113135624!3d10.868725783985262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752891cf0ca363%3A0x356ed7098d266f31!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBOw7RuZyBMw6JtIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1547701216710" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>

			
		</div>

	</div>
</div>